#players-hand-container {
    position: relative;
    height: 40vh;
}
#players-spot-container {
    display: flex;
    justify-content: space-between;
    padding: 0 8em;
}
#card-image-container {
    margin-top: 4em;
}
#title-banner {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12vw;
}
.players-card-images {
    position: relative;
    bottom: 0;
    width: 18vh;
}
#players-card-number-0{
    animation: slide-rotate-15 .3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
#players-card-number-1{
    animation: slide-rotate15 .5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    margin-left: -2em;
}

#players-card-number-0-1{
    animation: slide-rotate-25 .5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    margin-right: -3em;
}
#players-card-number-1-1{
    animation: slide .5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    margin-bottom: 1em;
}
#players-card-number-2-1{
    animation: slide-rotate25 .5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    margin-left: -3em;
}

#players-card-number-0-2{
    animation: slide-rotate-25 .5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    margin-right: -6em;
}
#players-card-number-1-2{
    animation: slide-rotate-15 .5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    margin-bottom: 1em;
    margin-right: -3em;
}
#players-card-number-2-2{
    animation: slide-rotate15 .5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    margin-bottom: 1em;
    margin-left: -3em;
}
#players-card-number-3-2{
    animation: slide-rotate25 .5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    margin-left: -6em;
}

#players-card-number-0-3 {
    animation: slide-rotate-25 .5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    margin-right: -5.5em;
}
#players-card-number-1-3 {
    animation: slide-rotate-15 .5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    margin-right: -5.5em;
    margin-bottom: 1em;
}
#players-card-number-2-3 {
    animation: slide .5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    margin-bottom: 1.5em;
}
#players-card-number-3-3 {
    animation: slide-rotate15 .5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    margin-left: -5.5em;
    margin-bottom: 1em;
}
#players-card-number-4-3 {
    animation: slide-rotate25 .5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    margin-left: -5.5em;
}

@keyframes slide-rotate-15 {
    0% {
        transform: translateX(100vw) rotate(0);
    }
    50% {
        transform: translateX(0) rotate(0);
    }
    100% {
        transform: translateX(0) rotate(-15deg);
    }
}
@keyframes slide {
    0% {
        transform: translateX(100vw);
    }
    50% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes slide-rotate15 {
    0% {
        transform: translateX(100vw) rotate(0);
    }
    50% {
        transform: translateX(0) rotate(0);
    }
    100% {
        transform: translateX(0) rotate(15deg);
    }
}
@keyframes slide-rotate25 {
    0% {
        transform: translateX(100vw) rotate(0);
    }
    50% {
        transform: translateX(0) rotate(0);
    }
    100% {
        transform: translateX(0) rotate(25deg);
    }
}
@keyframes slide-rotate-25 {
    0% {
        transform: translateX(100vw) rotate(0);
    }
    50% {
        transform: translateX(0) rotate(0);
    }
    100% {
        transform: translateX(0) rotate(-25deg);
    }
}
@keyframes slide-rotate-35 {
    0% {
        transform: translateX(100vw) rotate(0);
    }
    100% {
        transform: translateX(0) rotate(-35deg);
    }
}
@keyframes slide-rotate35 {
    0% {
        transform: translateX(100vw) rotate(0);
    }
    100% {
        transform: translateX(0) rotate(35deg);
    }
}