#pot-container {
    text-align: center;   
    height: 6vh;
}
#pot-image-container {
    position: absolute;
    top: 28%;
    right: 42%;
    height: 15vw;
    width: 15vw;
}
.pot-chip-images {
    position: absolute;
    width: 9vw;
}
#white-chip-pot-image {
    top: 0;
    left: 0;
}
#blue-chip-pot-image {
    top: 0;
    right: 0;
}
#red-chip-pot-image {
    bottom: 0;
    left: 0;
}
#green-chip-pot-image {
    bottom: 0;
    right: 0;
}
#pot-text {
    padding: 4px 12px;
    margin: auto;
    border-radius: 50%;
    font-size: 4vw;
    position: relative;
    top: 30%;
    background-color: rgb(255, 255, 255, .5);
    width: fit-content;
    height: fit-content;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}