#blackjack-container {
    background-color: #92fe50;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
}
#playing-the-game {
    height: 100vh;
    width: 100vw;
}
#buttons-for-game {
    width: 100%;
    height: 32vh;
    position: relative;
    padding-top: 1vh;
    box-shadow: inset 0px 5px 5px black;
    background-color: #6ae91d;
}
#pre-game-buttons {
    display: flex;
    justify-content: space-evenly;
}
#draw-cards-button {
    height: 1em;
    padding: 1em 2.5em;
    padding-bottom: 2.2em;
    margin: .7em 1em;
    font-size: 3vw;
    border: none;
    border-radius: 50%;
    box-shadow: inset 3px 5px 3px #abfe78, 3px 5px 3px #318200;
    background-color: #56e300;
}
#draw-cards-button:hover {
    cursor: pointer;
}
#draw-cards-button:active {
    box-shadow: inset 3px 5px 3px green, 1px 1px 1px #cefeb1;
}
#bet-container {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#bet-amount-text {
    font-size: 3vw;
}
#bet-button-container {
    margin-top: .2em;
    display: flex;
    padding-bottom: 4px;
}
.bet-buttons {
    background: none;
    border: none;
    height: 9vh;
    width: 9.5vh;
    border-radius: 100%;
    box-shadow: 2px 2px 1px black;
    margin-right: .5em;
}
.bet-buttons:hover {
    cursor: pointer;
}
.bet-buttons:active {
    box-shadow: none;
}
.bet-images {
    margin-top: -2px;
    height: 10vh;
    width: 10vh;
}
.bet-text {
    position: absolute;
    top: 35.5%;
    left: 40%;
    font-size: 120%;
    font-weight: 600;
}
#player-points {
    position: absolute;
    right: 3vw;
    top: 3vw;
    font-size: 3vw;
}
#busted-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#busted-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#busted-title {
    text-align: center;
}
#next-round-bust-button-container {
    width: 90vw;
    display: flex;
    justify-content: center;
}
#hit-stand-button-container {
    display: flex;
    justify-content: space-evenly;
    width: 60vw;
    margin: auto;
}
#hit-button, #stand-button, #next-round-button {
    height: 1em;
    padding: 1em 2.5em;
    padding-bottom: 2.2em;
    margin: .7em 1em;
    font-size: 3vw;
    border: none;
    border-radius: 50%;
    box-shadow: inset 3px 5px 3px #abfe78, 3px 5px 3px #318200;
    background-color: #56e300;
}
#hit-button:hover, #stand-button:hover {
    cursor: pointer;
}
#hit-button:active, #stand-button:active {
    box-shadow: inset 3px 5px 3px green, 1px 1px 1px #cefeb1;
}

@keyframes flip-2 {
    0% {
            transform: scale(0.0);
    }
    100% {
            transform: scale(1);
    }
}
@media (max-width: 480px) {
    #blackjack-container {
        height: 100%;
        width: 100%;
    }
    #app-container {
        overflow-x: auto;
    }
    #buttons-for-game {
        height: 34vh;
    }
    #bet-button-container {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }
    .bet-buttons {
        height: 10vw;
    }
    .bet-images {
        width: 100%;
        height: 11vw;
        margin-top: -2px;
    }
    #draw-cards-button {
        width: 40vw;
        font-size: 4vw;
        font-weight: 600;
        padding: 2em 0 3em;
    }
    #hit-stand-button-container {
        display: flex;
        justify-content: space-evenly;
    }
    #hit-button, #stand-button {
        margin: 4vh 2vw;
        width: 45vw;
    }
}