#blackjack-container {
    background-color: lightgreen;
    height: 100vh;
    width: 100%;
}
#buttons-for-game {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20vh;
    border-top: 1px solid black;
}

@keyframes flip-2 {
    0% {
            transform: scale(0.0);
    }
    100% {
            transform: scale(1);
    }
}