#app-container {
    height: 100%;
    width: 100%;
}
#nav-bar {
    padding: 0.5em 0;
    width: 100%;
    border-bottom: 3px solid seagreen;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
}